mat-form-field{
    width:500px;
    height: auto;
}

button{
    height:50px;
    margin-top: 5px;
    

}

mat-card{
    width: 750px;
    align-items: center;
    margin: 0 auto; 
}

.card-content {
    word-wrap: break-word;
}

.edit
{
    border: none;
    outline: none;
    width:500px;
    resize: none; 
    overflow: hidden;
}
.blinking-cursor {
    
    
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }

.strikeThrough{
   text-decoration: line-through;
}

.scrollable-content {
    overflow: auto;
    height: 350px;
    position: relative;
    
}
  
.tab-content {
    position: absolute;
}


  







